<!DOCTYPE html>
<html>
<head>
<title>Jenkins auto discovery overview!</title>
<style>
    body {
        width: 35em;
        margin: 0 auto;
        font-family: Tahoma, Verdana, Arial, sans-serif;
    }
    .empty, ul:empty {
        display: none;
    }
    ul:empty + .empty {
        display: block;
        color: #555;
    }
    ul li a:not(.noUC) {
        text-transform: capitalize;
    }
</style>
</head>
<body>
<h1>Welcome to the Jenkins auto discovery overview!</h1>
<p>The following contexts are registered.</p>

<ul>
{{ range services }}{{ if .Tags | contains "jenkins" }}
    <li><a href="/{{ .Name }}">{{ .Name }}</a></li>
{{ end }}{{ end }}
</ul>
<p class="empty">No contexts registered yet.</p>

<h2>Extra Services</h2>
<ul>
    <li><a class="noUC" href="https://repository-server.internal.inetsoftware.de/">Repository Overview</a></li>
    <li><a class="noUC" href="https://repository-server.internal.inetsoftware.de/repository/inet-snapshot">Repository: i-net Build</a></li>
    <li><a class="noUC" href="https://repository-server.internal.inetsoftware.de/repository/inet-product">Repository: i-net Produkte</a></li>
<ul>
</ul>
    <li><a href="https://portainer.internal.inetsoftware.de/">Portainer - Docker Container Management</a></li>
    <li><a href="https://registry-web.internal.inetsoftware.de/">Private Docker Repository Management</a></li>
    <li><a href="https://repository-server.internal.inetsoftware.de:8443/">i-net deObfuscation Tool </a></li>
</ul>
</body>
</html>
