<!DOCTYPE html>
<html>
<head>
<title>Jenkins auto discovery overview!</title>
<style>
    body {
        width: 35em;
        margin: 0 auto;
        font-family: Tahoma, Verdana, Arial, sans-serif;
    }
    .empty, ul:empty {
        display: none;
    }
    ul:empty + .empty {
        display: block;
        color: #555;
    }
    ul li a {
        text-transform: capitalize;
    }
</style>
<script>
function setHref() {
    document.getElementById('portainer').href = window.location.protocol + "//" + window.location.hostname + ":9000/";
    document.getElementById('registry').href = window.location.protocol + "//" + window.location.hostname + ":8080/";
}
</script>
</head>
<body onload="setHref()">
<h1>Welcome to the Jenkins auto discovery overview!</h1>
<p>The following contexts are registered.</p>

<ul>
{{ range services }}{{ if .Tags | contains "jenkins" }}
    <li><a href="/{{ .Name }}">{{ .Name }}</a></li>
{{ end }}{{ end }}
</ul>
<p class="empty">No contexts registered yet.</p>

<h2>Fileserver</h2>
<ul>
    <li><a href="http://fileserver/">Artifactory</a></li>
    <li><a href="http://fileserver/virtualbox">VirtualBox Management</a></li>
</ul>
<h2>Extra Services</h2>
<ul>
    <li><a href="/" id="portainer">Portainer - Docker Container Management</a></li>
    <li><a href="/" id="registry">Private Docker Repository Management</a></li>
</ul>
</body>
</html>
